.test1234{
    position: absolute;

    top: 95%;

    left: 5%;

    border-radius: 25px;

    width: 90%;

    min-width: 1280px;
    min-height: 35px;

    background: whitesmoke;
    
    border: 3px groove gray;
}