@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Raleway:wght@100;200;300&family=Sacramento&display=swap');

.container-fluid .jumbotron, .container .jumbotron {
    border-radius: 6px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  @media screen and (min-width: 768px)
  {
  .container-fluid .jumbotron, .container .jumbotron {
      padding-left: 60px;
      padding-right: 60px;
  }
  }
  
  @media screen and (min-width: 768px)
  {
  .jumbotron {
      padding-bottom: 48px;
      padding-top: 48px;
  }
  }
  
  .jumbotron {
    background-color: #eee;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .registration-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-box {
    box-shadow: 0px 0px 15px -5px black;
  }

  button {
    background-color: #4CAF50;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

  .buttonCentralizer{
    text-align: center;
  }

  .logoCentralizer{
    text-align: center;
  }

  .anmeldungCentralizer{
    text-align: center;
    font-size: 18px;
    color: rgb(0, 102, 179);
    font-family: sans-serif;
  }

  .copyRight{
    font-size: 10px;
    text-align: center;
  }
  
  .labelText {
    font-family: 'Merriweather', serif; ;
  }

  input {
    font-size: 100%;
    width: 230px;
    height: 100
  }

  input:hover{
    background-color:gainsboro;
  }