.datensatz_table{

    width: 90%;

    height: 5%;

    table-layout: fixed;

    position: absolute;

    background-color: whitesmoke;

    top: 35%;

    left: 5%;

}

.datensatz_segment{

    display: table-cell;
    text-align: center;
    border: 1px solid black;
    vertical-align: middle;
    word-wrap: break-word;

}

.datensatz_wrap{

    position: absolute;

    top: 70%;

    left: 0%;

    width: 100%;

    height: 30%;

    text-align: left;

    border-radius: 25px;

    background: white;
    
    border: 3px groove gray;

}

.datensatz{

    position: relative;

    top: 0%;

    left: 2.5%;

    width: 95%;

    font-size: x-large;

    border-radius: 25px;

    background: whitesmoke;
    
    border: 3px groove gray;
}